@import "fontello.css";
@import "helpers";
@import "elements/form";
@import "elements/errors-panel";
@import "elements/link";
@import "elements/headers";
@import "elements/dropdown";
@import "elements/page-loading-indicator";
@import "elements/pagination";
@import "layout/main";
@import "routes/signup";
@import "routes/login";
@import "routes/settings";
@import "routes/members/list";

html, body {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #868ba1;
  background-color: #E9ECEF;
}

label {
  margin-bottom: .5rem;
}
